.cache/
.scripts/.test
.scripts/testing.ts

@releases/**/*
!@releases/**/*.zip


# DIST
# ==== #


# SRC
# === #


# ROOT
# ==== #
TODO


# JUNK
# ==== #
._*
.DS_Store
.smbdelete**

tsconfig.old.json
tsconfig.old.**.json

node_modules/
