.cache/**/*
.scripts/**/*
.vscode/**/*
@releases/**/*
src/**/*


# ROOT
# ==== #
.prettierignore
.prettierrc.json
TODO
tsconfig.json


# JUNK
# ==== #
**/._*
**/._**/*
**/.DS_Store
**/.smbdelete*
**/.smbdelete**/*

**/tsconfig.old.json
**/tsconfig.old.**.json

**/node_modules/**/*
